<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <!-- Left frame start -->
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png"
                         width="156px" 
                         height="142px"
                         >
                    </div>
                    <div class="left_1_2">
                        <%=user.name%>
                    </div>
                    <div class="left_1_3">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_icons">
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/facebook.png" class="icon_1" alt="">
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/instagram.png" class="icon_1" alt="">
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/twitter.png" class="icon_1" alt="">
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/linkedin.png" class="icon_1" alt="">
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/youtube.png" class="icon_1" alt="">
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/dribble.png" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2_1">
                        <div class="left_2_1_age">
                            Age:
                        </div>
                        <span style="font-family: sans-serif;">24</span>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_residence">
                            Residence:
                        </div class="span_2">
                        <span style="font-family: sans-serif;">BD</span>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_freelance">
                            Freelance:
                        </div>
                        <span style="font-family: sans-serif; color: var(--Available, #7EB942);">Available</span>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_address">
                            Address:
                        </div class="span_2">
                        <span style="font-family: sans-serif;">Dhaka, Bangladesh</span>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_3_1" style="margin-bottom: 15px;"><strong>Languages</strong></div>
                    <div class="left_3_lang">
                        <div class="bangla" style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">Bangla</div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">100%</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="images/Line.png" alt="" style="margin-top: 10px; margin-bottom: 5px;">
                    </div>
                    <div class="left_3_lang">
                        <div class="bangla" style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">English</div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">80%</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="images/Line1.png" alt="" style="margin-top: 10px; margin-bottom: 5px;">
                    </div>
                    <div class="left_3_lang">
                        <div class="bangla" style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">Spanish</div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">60%</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="images/Line2.png" alt="" style="margin-top: 10px; margin-bottom: 5px;">
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="left_4_title"><strong>Skills</strong></div>
                    <div class="left_4_skills">
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">Html</span>
                        </div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">90%</span>
                        </div>
                    </div>
                    <div>
                        <img src="images/html.png" alt="" style="margin-bottom: 10px; margin-top: 5px;">
                    </div>

                    <div class="left_4_skills">
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">CSS</span>
                        </div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">85%</span>
                        </div>
                    </div>
                    <div>
                        <img src="images/css.png" alt="" style="margin-bottom: 10px; margin-top: 5px;">
                    </div>
                    
                    <div class="left_4_skills">
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">Js</span>
                        </div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">80%</span>
                        </div>
                    </div>
                    <div>
                        <img src="images/js.png" alt="" style="margin-bottom: 10px; margin-top: 5px;">
                    </div>

                    <div class="left_4_skills">
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">PHP</span>
                        </div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">75%</span>
                        </div>
                    </div>
                    <div>
                        <img src="images/php.png" alt="" style="margin-bottom: 10px; margin-top: 5px;">
                    </div>

                    <div class="left_4_skills">
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">WordPress</span>
                        </div>
                        <div>
                            <span style="font-family: sans-serif; color: var(--Paragraph-Font, #767676);">85%</span>
                        </div>
                    </div>
                    <div>
                        <img src="images/wordpress.png" alt="" style="margin-bottom: 10px; margin-top: 5px;">
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="left_5_title"><strong>Extra Skills</strong></div>
                    <div class="left_5_extra">
                        <div class="left_5_img">
                            <img src="icon/icon5.png" alt="">
                        </div>
                        <div class="left_5_words">Bootstrap, Materialize</div>
                    </div>
                    <div class="left_5_extra">
                        <div class="left_5_img">
                            <img src="icon/icon5.png" alt="">
                        </div>
                        <div class="left_5_words">Stylus, Sass, Less</div>
                    </div>
                    <div class="left_5_extra">
                        <div class="left_5_img">
                            <img src="icon/icon5.png" alt="">
                        </div>
                        <div class="left_5_words">Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="left_5_extra">
                        <div class="left_5_img">
                            <img src="icon/icon5.png" alt="">
                        </div>
                        <div class="left_5_words">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <!-- Left frame end -->

            <!-- Mid frame start -->
            <div class="midd_frame">
                <div class="midd_frame_top">
                    <div class="shape">
                      <div class="yellow1"></div>
                      <div class="green1"></div>
                      <div class="blue1"></div>
                      <div class="green2"></div>
                      <div class="yellow2"></div>
                      <div class="yellow3"></div>
                      <div class="red"><img src="images/triangle.png" alt=""></div>



                      

                    </div>
                    <div class="mid-left">
                       <div class="text_1">
                      <h1> Doctor neurologists in OHSU Hospital</h1>
                    </div>
                       <div class="text_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                        <button>HIRE ME <img src="images/1arrow.png" alt="" style="margin-left: 5px;"></button>

                    </div>
                   <div class="mid-right">
                    <div class="image_box">
                        <img src="images/man.png" alt="">
                    </div>
                   </div>
                </div>
                <div class="letters">
                    <div class="letter_1">My Services</div>
                    <div class="letter_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                </div>
                <div class="contents">
                    <div class="content_1" style="margin-top: 30px;"> 
                       <div class="image_box">
                        <img src="images/coding.png" alt="">
                        <div class="content_desc"><strong>Web Development</strong></div>
                        <span style="font-family: sans-serif;">Blog, E-Commerce</span>
                       </div>
                    </div>

                    <div class="content_1" style="margin-top: 30px;"> 
                        <div class="image_box">
                         <img src="images/illustration.png" alt="">
                         <div class="content_desc"><strong>UI/UX Design</strong></div>
                         <span style="font-family: sans-serif;">Mobile app, website design</span>
                        </div>
                     </div>

                     <div class="content_1" style="margin-top: 30px;"> 
                        <div class="image_box">
                         <img src="images/microphone.svg" alt="">
                         <div class="content_desc"><strong>Sound Design</strong></div>
                         <span style="font-family: sans-serif;">Voice Over, Beat Making</span>
                        </div>
                     </div>

                     <div class="content_1" style="margin-top: 30px;"> 
                        <div class="image_box">
                         <img src="images/game.png" alt="">
                         <div class="content_desc"><strong>Game Design</strong></div>
                         <span style="font-family: sans-serif;">Voice Over, Beat Making</span>
                        </div>
                     </div>

                     <div class="content_1" style="margin-top: 30px;"> 
                        <div class="image_box">
                         <img src="images/ptp.png" alt="">
                         <div class="content_desc"><strong>Photography</strong></div>
                         <span style="font-size: 11.5px">Portrait, product Photography</span>
                        </div>
                     </div>

                     <div class="content_1" style="margin-top: 30px;"> 
                        <div class="image_box">
                         <div class="content_desc"><strong>Advertising</strong></div>
                         <span style="font-family: sans-serif; width: 260px; height: 78px; margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</span>
                        <div class="last_arrow">
                            <div>ORDER NOW <img src="images/lastarrow.png" alt=""></div>
                        </div>
                        </div>
                     </div>
                </div>
            </div>
            <!-- Mid frame end -->

            <!-- Right frame start -->
            <div class="right_frame">
                <div class="first_icon">
                    <img src="icon/contrast.png" alt="" style="margin-top: 50px;">
                </div>
              <div class="icon2"><img src="icon/Home.png" alt=""></div>
              <div class="icon3"><img src="icon/file-code.png" alt=""></div>
              <div class="icon3"><img src="icon/cv.png" alt=""></div>
              <div class="icon3"><img src="icon/vector.png" alt=""></div>
              <div class="icon3"><img src="icon/blog.png" alt=""></div>
              <div class="icon3"><img src="icon/Contact.png" alt=""></div>
            </div>
            <!-- Right frame end -->
        </div>
    </div>
</body>
</html>