.frame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.main_frame .left_frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 1315px;
    background-color: white;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.main_frame .left_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    /* background-color: aqua; */
}

.main_frame .left_1 .left_1_1 {
    position: relative;
    width: 156.164px;
    height: 142.53px;
    margin-bottom: 29.46px;
    flex-direction: column;
}

.main_frame .left_1 .left_1_2 {
    display: flex;
    width: 66.63px;
    height: 20.846px;
    flex-direction: column;
    justify-content: center;

    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    text-transform: capitalize;
}

.main_frame .left_1 .left_1_3 {
    display: flex;
    flex-direction: column;
    width: 147.836px;
    height: 24.31px;
    flex-shrink: 0;

    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left_1_icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 238px;
    margin-top: 19px;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.986px;
    height: 21.609px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px #1b1414d0);
    background: gold;
}

.icon_1 {
    position: relative;
    left: 20.17%;
    right: 27.08%;
    margin-top: 15%;
}

.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1.5px solid #f6f6f6;
}

.main_frame .left_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    
}

.left_2_1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 9px;
    width: 221px;
    height: 26px;
    /* background-color: black; */
}

.left_2_1 .left_2_1_age {
    width: 46.209px;
    height: 22px;
    background-color: gold;

    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    padding-left: 5px;
}


.left_2_1 .left_2_1_residence {
    width: 87px;
    height: 22px;
    background-color: gold;

    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    padding-left: 5px;
}

.left_2_1 .left_2_1_freelance {
    width: 80px;
    height: 22px;
    background-color: gold;

    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    padding-left: 5px;
}

.left_2_1 .left_2_1_address {
    width: 65px;
    height: 22px;
    background-color: gold;

    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    padding-left: 5px;
}

.main_frame .left_3 {
    position: relative;
    height: 153px;
    width: 220px;
    margin-top: 25px;
    margin-left: 45px;
   
}

.main_frame .left_3 .left_3_1 {
    color: var(--Black, #2B2B2B);
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left_3 .left_3_lang {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -7px;
    width: 221px;
    height: 26px;
}

.main_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
}

.left_4 .left_4_title {
    margin-bottom: 15px;
    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left_4 .left_4_skills {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -7px;
    width: 221px;
    height: 26px;
}


.main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
}

.left_5 .left_5_title {
    margin-bottom: 15px;
    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left_5 .left_5_extra {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: -7px;
    width: 221px;
    height: 26px;
    margin-bottom: 5px;
}

.left_5 .left_5_extra .left_5_words {
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-left: 10px;
}


 .midd_frame_top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 971px;
    height: 454.328px;
    margin-bottom: 148px;
    background-color: white;
    margin-bottom: 130px;
    
}

.shape {
    position: absolute; /* Positioned relative to the .hero container */
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.yellow1 {
    width: 14.016px;
    height: 12.566px;
    stroke-width: 2px;
    stroke: rgba(255, 180, 0, 0.80);
    border: 3px solid;
    border-radius: 50%;
    color: rgba(255, 180, 0, 0.80);
    margin-left: 30px;
    margin-top: 40px;
    
}

.green1 {
    width: 13px;
    height: 13px;
    stroke-width: 2px;
    border: 3px solid;
    border-radius: 50%;
    color: rgba(5, 255, 0, 0.80);

    margin-left: 505px;
    margin-top: -5px;
    
}

.blue1 {
    width: 13px;
    height: 13px;
    transform: rotate(26.45deg);
    flex-shrink: 0;
    color: rgba(0, 71, 255, 0.80);
    border: 3px solid rgba(0, 71, 255, 0.80);

    margin-left: 350px;
    margin-top: 240px;
}

.green2 {
    width: 14.016px;
    height: 12.566px;
    border: 3px solid;
    border-radius: 50%;
    color: rgba(5, 255, 0, 0.80);
    margin-left: 90px;
    margin-top: 95px;
}

.yellow2 {
    width: 14.016px;
    height: 12.566px;
    border: 3px solid;
    border-radius: 50%;
    color: rgba(255, 180, 0, 0.80);
    margin-left: 535px;
    margin-top: -70px;
    
}

.yellow3 {
    width: 14px;
    height: 14px;
    transform: rotate(26.45deg);
    flex-shrink: 0;
    border: 3px solid rgba(255, 180, 0, 0.80);
    color: rgba(255, 180, 0, 0.80);

    margin-left: 892px;
    margin-top: -300px;
}

.red {
    margin-left: 900px;
    margin-top: 310px;
}

.midd_frame_top .mid-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 434px;
    margin-right: 450px;
}

.midd_frame_top .mid-left .text_1 {
    width: 499.514px;
    height: 116.744px;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    
}

.midd_frame_top .mid-left .text_1 h1 {
    color: var(--Black, #2B2B2B);
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 59.328px */
}

.midd_frame_top .mid-left .text_2 {
    width: 400.437px;
    height: 85.612px;
    margin-top: 17px;

    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* H6 - 16px */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
}


.midd_frame_top .mid-left button {
    width: 150px;
    height: 50px;

    display: flex;
    padding: 16px 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 62%;

    border-radius: 5px;
    background: var(--Yellow, #FFB400);
}

.mid-right .image_box img {
    width: 326.055px;
    height: 446.633px;
}

.midd_frame_top .mid-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    height: 434px;
    margin-left: 550px;
}

.midd_frame .letters {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midd_frame .letters .letter_1 {
    width: 200px;
    height: 40px;
    

    color: var(--Black, #2B2B2B);
    /* H2 - 32px */
    font-family: sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;

    display: flex;
    justify-content: center;
    align-items: center;
}

.midd_frame .letters .letter_2 {
    margin-top: 25px;
    width: 438px;
    height: 68px;


    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* P-15px paragraph */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;

    display: flex;
    justify-content: center;
    align-items: center;
}



.top_left .yellow_box {
    width: 110px;
    height: 20px;
    display: flex;
    padding: 16px 32px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Yellow, #FFB400);
    margin-top: 30px;
    font-family: sans-serif;
}

    


.midd_frame .midd_frame_bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
}


.midd_frame .yellow_box {
    width: 124px;
    height: 25px;
    margin-right: 63%;
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background: var(--Yellow, #FFB400);
}

.elements .element {
    position: absolute;
    width: 16.016px;
    height: 15.566px;

    stroke-width: 2px;
    stroke: rgba(255, 46, 0, 0.80);
}

.midd_middle {
    position: relative;
    display: flex;
    flex-direction: column;
}
.last_arrow {
    display: flex;
    flex-direction: row;
    width: 85px;
    height: 25px;
}
.last_arrow div {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: none;

    color: var(--Yellow, #FFB400);
    font-family: sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
}

.contents .content_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 225px;
    background-color: white;
    margin-right: 30px;
}

.content_1 .image_box {
    display: flex;
    width: 68px;
    height: 68px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}

.content_1 .image_box .content_desc {
    width: 152px;
    height: 22px;
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;

    margin-top: 26px;
    margin-left: 0px;
    margin-bottom: 15px;
}

.content_1 .image_box {
    width: 152px;
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.right_frame .right.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.icon2 {
    width: 40px;
    height: 40px;
    background-color: #FFB400;
    border-radius: 50%;
    margin-top: 233px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon3 {
    width: 40px;
    height: 40px;
    background-color: #F0F0F6;
    border-radius: 50%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

